body {
	font-size: 62.5%;
	font-family: serif,monospace;
        background: black;
        color: gray;
        padding: 15px;
}

.clear { clear: both; }

#header {
	background: black;
        border: double;
        color: blue;
}

h1, h2 {
        border: double;
}

h1, h2, em, strong {
        color: blue;
}

img {
        display: block;
        max-width: 20%;
        margin: auto;
}

video {
        max-height: 75%;
}

input {
        width: 90%;
        max-width: 90%;
}

#content {
	max-width: 65%;
        background: black;
        float: right;
        color: gray;
}

#sidebar {
	width: 25%;
        max-width: 25%;
        height: 75%;
	float: left;
        background: black;
        color: gray;
        padding: 30px;
}

